<main>
  <div class="nature">
    <img src="/assets/big_nature.jpg" alt="" />
    <div class="moving_text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="my_sites">
    <div class="site_intro">
      <h3>Let's see my projects:</h3>
    </div>
    <div class="project_list">
      <p>I have worked on several projects, and here is a list of them:</p>
      <br />
      <br />
      <ul>
        <li>
          <a href="https://firstprojectofmine.netlify.app/" target="_blank"
            >ⓧ My First Project</a
          >
        </li>
        <li>
          <a href="https://markup-project.netlify.app" target="_blank"
            >ⓧ Markup Site</a
          >
        </li>
        <li>
          <a href="https://restangular.netlify.app" target="_blank"
            >ⓧ Angular With REST</a
          >
        </li>
      </ul>
      <br />
      <br />
      <p>in a future, it's gonna expand</p>
    </div>
  </div>
  <div class="knowledge">
    <div class="knowledge_img">
      <img src="/assets/nature.jpg" alt="" />
    </div>
    <div class="knowledge_list">
      <h3>Tools i'm familiar with:</h3>
      <br />
      <div class="images">
        <img src="/assets/html5.png" alt="" />
        <img src="/assets/css.png" alt="" />
        <img src="/assets/js.png" alt="" />
        <img src="/assets/ts.png" alt="" />
        <img src="/assets/angular.png" alt="" />
        <img src="/assets/git.png" alt="" />
        <img src="/assets/github.png" alt="" />
        <img src="/assets/python.png" alt="" />
        <img src="/assets/linux.png" alt="" />
      </div>
    </div>
  </div>
</main>
