* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
::placeholder,
button {
  font-family: "Afacad Flux";
}

body {
  background-color: #f5f5f5;
}

app-root {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

body.dark-mode {
  background-color: #1b1b1b;
}
